body{
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    font-size: 8px;
    font-weight: bold;
    color: black;
}


/*Conteneur principale*/
.contenaire {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
    background-color: black;
    gap: 1rem;
}

.head{
    display: flex;
    height: 10%;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;

}

.contenaire-body {
    display: flex;
    height: 85%;
    width: 100%;
    gap: 1rem;
}




/*Emplacement logo*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
    background-color: var(--blue-color);
    margin-left: 1rem;
    border-radius: 5px;
}


/* Menu 1 nav*/

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70%;
    background-color: var(--violet-color);
    flex-wrap: wrap;
    border-radius: 5px;
    padding-left: 1rem;

}

.menu2 {
    display: flex;
    padding: 0;
}

.menu2 > li:first-child {
    list-style: none;
    padding: 0.5rem;
    color: black;
} 
.menu2 > li:not(:first-child) {
    list-style: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 10px;
} 





/*Barre Input*/

.input{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 20%;
    background-color: var(--orange-fonce-color);
    margin-right: 1rem;
    gap: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

#site-search {
    background-color: var(--orange-clair-color);
    border-radius: 20px;
    width: 33%;
    height: 30px;
    font-size: 8px;
    font-weight: bold;
    padding-left: 5px;
}
#button1 {
    height: 33%;
    background-color: var(--cyan-color);
    border-radius: 5px;
    width: 33%;
    height: 30px;
    font-size: 8px;
    font-weight: bold;
}

#button2 {
    background-color: var(--chartreuse);
    border-radius: 5px;
    width: 33%;
    height: 30px;
    font-size: 8px;
    font-weight: bold;
}


/*Menu 2 de gauche */
.menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    height:100%;
    width: 10%;
    margin-left: 1rem;
}
.main-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    width: 100%;
}
.main-menu > li {
    list-style: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 2px;
}     


.main {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 80%;
}


/*Header Stat*/
.main-head{
    display: flex;
    height:10%;
    width: 100%;
    margin-bottom: 0.5rem;
}

.header{
    display: flex;
    align-items: center;
    background-color: var(--orange-color);
    height:100%;
    width: 60%;
    border-radius: 5px;
    padding-left: 15px;
}
.stat{
    display: flex;
    align-items: center;
    height:100%;
    width: calc(40%/3);
    border-radius: 5px;
    padding-left: 15px;
    margin-left: 0.5rem;
}





/*Conteneur LES TACHES A FAIRE EN COURS TERMINE*/
.main-taches{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:40%;
    width: 100%;
    gap: 0.5rem;
}

.taches1{
    display: flex;
    align-items: center;
    height:15%;
    border-radius: 5px;
    padding-left: 15px;
}
.taches2{
    display: flex;
    align-items: center;
    height:25%;
    border-radius: 5px;
    padding-left: 15px;
}
.taches3{
    display: flex;
    align-items: center;
    height:15%;
    width: 5%;
    border-radius: 5px;
    padding-left: 15px;
}
.taches4{
    display: flex;
    align-items: center;
    height:10%;gap: ;
    border-radius: 5px;
    padding-left: 15px;

}

/*Conteneur box numbers*/

.main-nombres{
    display: flex;
    flex-wrap: wrap;
    height:30%;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
}

.box{
display: flex;
align-items: center;
justify-content: center;
width: calc(100%/4 - 0.40rem);
border-radius: 5px;
}


/* Conteneur JAMBON BEURRE HAUT*/
.main-foot{
    display: flex;
    height:20%;
    width: 100%;
    gap:0.5rem;
}
.box-foot1{
display: flex;
height:100%;
width: calc(100%/3);
}

.jambon{
display: flex;
align-items: center;
height:100%;
width: 100%;
border-radius: 5px;
padding-left: 15px;
}
.beurre{
display: flex;
align-items: center;
height:70%;
width: 100%;
border-radius: 5px;
padding-left: 15px;
}
.haut{
display: flex;
align-items: center;
height:50%;
width: 100%;
border-radius: 5px;
padding-left: 15px;
}

.end{
    align-items: end;
}


/*


            <div class="profil">
                <div class="main-profil">
                    <div class="photo"></div>
                    <div class="information-profil">PROFIL<br>Nom<br>Prénom</div>
                    <div class="suivre">
                            <input type="button" id="button3" value="Suivre"/>
                    </div>
                </div>
                <div class="widget orange-fonce">Widget 1</div>
                <div class="widget rouge-color">Widget 2</div>
                <div class="widget rose-fonce">Widget 3</div>
            </div>

 */           




/*Conteneur profil*/
.profil {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 10%;
    margin-right: 1rem;
    gap: 0.5rem;
}

.main-profil{
    display: flex;
    align-items: center;
    height: 12%;
    width: 100%;
    border-radius: 5px;
        gap: 0.5rem;
}


.photo{
    display:flex;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 15px;
}

#button3 {
    height: 33%;
    background-color: var(--vert-fonce);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    font-size: 8px;
    font-weight: bold;
}

.suivre{
    width: calc(100%/3);
}


.widget{
    display: flex;
    height: 6%;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;

}







/* Bas de page */
.foot {
    height:5%;
    width: calc(100%*2rem);
    display: flex;
    background-color: blueviolet;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    border-radius: 5px;
}

.text-start {
display: flex;
align-items: center;
height: 100%;
padding-left: 15px;
}

.text-end {
display: flex;
align-items: center;
height: 100%;
padding-right: 15px;
}

mark{

}




:root {
    /* Une variable permet de sauvegarder/nommer une couleur, une taille */
    --blue-color:rgba(36, 110, 231);
    --violet-color:rgba(139, 92, 246);
    --violet-clair-color: rgba(232, 121, 249);
    --orange-fonce-color: rgba(249, 115, 22);
    --orange-clair-color: rgba(252, 174, 120);
    --cyan-color: rgba(56, 189, 248);
    --cyan-clair:rgba(96, 165, 250);
    --chartreuse:rgba(132, 204, 22);
    --vert-clair:rgba(52, 211, 153);
    --rouge-clair:rgba(251, 113, 133);
    --vert-fonce:rgba(34, 197, 94);
    --orange-color: rgba(245, 158, 11);
    --rouge-color: rgba(239, 68, 68);
    --rose-fonce: rgba(236, 72, 153)
}


.blue-color{
    background-color: var(--blue-color);
}

.orange-color{
    background-color: var(--orange-color);
}


.violet-color{
    background-color: var(--violet-color);
}

.violet-clair {
    background-color: var(--violet-clair-color);
}

.cyan-clair {
    background-color: var(--cyan-clair);
}

.vert-clair {
    background-color: var(--vert-clair);
}

.rouge-clair{
    background-color: var(--rouge-clair);
}

.vert-fonce {
    background-color: var(--vert-fonce);
}

.rouge-color{
    background-color: var(--rouge-color);
}

.rose-fonce {
    background-color: var(--rose-fonce);
}

.orange-fonce{
    background-color: var(--orange-fonce-color);
}

.cyan-color{
    background-color: var(--cyan-color);
}

.chartreuse{
    background-color: var(--chartreuse);
}

