/*chargé la police d'écriture*/
@font-face{
    font-family: "Sansation";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

body{
    height: 100vh;
    background-color: #f5f5f5;
}


/*
___________                           .__                ____ 
\_   _____/__  ___ ___________   ____ |__| ____  ____   /_   |
 |    __)_\  \/  // __ \_  __ \_/ ___\|  |/ ___\/ __ \   |   |
 |        \>    <\  ___/|  | \/\  \___|  \  \__\  ___/   |   |
/_______  /__/\_ \\___  >__|    \___  >__|\___  >___  >  |___|
        \/      \/    \/            \/        \/    \/        
*/


.container-flex {
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: #fff;
    border: dashed 2px #ccc;
    gap: 1rem;
    color: #fff;
    /* Par défaut les éléments dans le conteneur seront alignés horizontalement. */
}

h1 {
    font-style: italic;
    font: bold;
    text-decoration: underline;
    text-align: center;
}




.box {
    /* Permet d appelr les variables var ()*/
    width: var(--square-size); 
    aspect-ratio: 1/1;
    margin-left: 10px;
    margin-bottom: 1px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center; 
    color: #fff;
}

.box-col{
    /* Pour centrer du contenu dans un flex box */
    display: flex; /* Affichage flex box*/
    justify-content: center; /*Centrer dans la flex box sur la largeur */
    align-items: center; /*Centrer dans la flex box sur la hauteur */
    
    

border-radius: 10px;
    width: var(--square-size); 
    aspect-ratio: 1/1;
    margin-left: 1px;
    margin-bottom: 1px;
}

.col {
    flex-direction: column;
    flex-wrap: wrap;
}

.center {background-color: #fff;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    background-color: #fff;
    height: 60%;
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.text {
    text-align: center;
    color: white;
}


/*Couleurs*/
.red {background-color: red;}
.blue{background-color: blue;}
.green{background-color: green;}
.orange{background-color: orange;}
.purple{background-color: purple;}
.teal {background-color: teal;}
.pink{background-color: pink;}
.brown{background-color: brown;}
.gray{background-color: gray;}


/* Les variables */

:root {
    /* Une variable permet de sauvegarder/nommer une couleur, une taille */
    --yellow-color: #EAEE3F;
    --orange-color: orange;
    --cyan-color: cyan;
    --square-size: 80px;
}

/*
___________                           .__               ________  
\_   _____/__  ___ ___________   ____ |__| ____  ____   \_____  \ 
 |    __)_\  \/  // __ \_  __ \_/ ___\|  |/ ___\/ __ \   /  ____/ 
 |        \>    <\  ___/|  | \/\  \___|  \  \__\  ___/  /       \ 
/_______  /__/\_ \\___  >__|    \___  >__|\___  >___  > \_______ \
        \/      \/    \/            \/        \/    \/          \/

*/


.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    gap: 1rem;
}

.block-h40 {
    display: flex;
    height: 40%;
    width: 100%;
    gap: 1rem;
}

.block-h50 {
    height: 50%;
    width: 100%;
    background-color: var(--cyan-color);
}

.block-h60 {
    display: flex;
    height: 60%;
    width: 100%;
    gap: 1rem;
}

.block-w20 {
    height: 100%;
    width: 20%;
    background-color: var(--orange-color);
}

.block-w50 {
    height: 100%;
    width: 50%;
}

.block-w80 {
    height: 100%;
    width: 80%;
    background-color: var(--yellow-color);
}

.block-orange {
background-color: orange;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}





                                                                  
                                                                  
                                                                  
                                                                  
                                                                  